h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }
  
h1 {
    margin-top: 0;
    color:rgb(0, 0, 0);
}

.share {
  display: inline-flex;
  padding: 3%;
}

.email-button {
  height: 40px;
  width: 170px;
  right: 10px;
  bottom: 10px;
  margin-top: 25px;
  border-radius: 7px;
  border: 0;
}

.twitter-button {
  height: 40px;
  width: 170px;
  right: 10px;
  bottom: 10px;
  margin-top: 25px;
  margin-left: 10px;
  border-radius: 7px;
  border: 0;
}

.type_of {
  font-style: italic;
  font-size: .9em;
}

  .cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  @keyframes slidein {
    from {
      /* opacity: 0; */
      margin-top: 50%;
    }
  
    to {
      /* opacity: 100%; */
      margin-top: 1em;
    }
  }
  
  .card {
    /* background: rgb(0, 6, 63); */
    background: rgb(255, 255, 255);
    width: 47%;
    height: 45rem;
    border-radius: 0.6em;
    margin: 1rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px rgba(0, 0, 0, 0.13), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
    display: inline-grid;
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px rgba(41, 41, 41, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  }
  
  
  .card h2 {
    color: rgb(0, 0, 0);
    margin-top: .5em;
    text-decoration: underline;
    line-height: 1.4;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
    font-weight: 500;
  }
  
  .card p {
    font-family: 'Montserrat', sans-serif;
    color: rgb(88, 88, 88);
  }
  
  .card a {
    font-family: 'Montserrat', sans-serif;
    color: rgb(81, 161, 252);
    text-decoration: underline;
  }

  .card h4 {
    margin: 1.5em 0 0 0;
  }
  
  .card h5 {
    color: rgb(24, 190, 126);
    font-weight: 700;
    font-size: 0.7em;
    letter-spacing: 0.04em;
    margin: 3em 0 0 0;
    text-transform: uppercase;
  }
  
  .card-body {
    padding: 1.2em;
  }

  .card img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
  }
  

