@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 63.5vh;
    --card-width: calc(var(--card-height) /1.2);
  }
  
  
  body {
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
button{
    font-size: 20px;
    border-radius: 6px;
    background: #ffffff;
    top: 300px;

}
select{
    background: rgb(255, 255, 255);
    border-radius: 6px;
    height: 30px;
}
  .city{
    position: relative;
    display: block;
    height: 2em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    padding-bottom: 10px;
}
  .LoginFrom {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
  }
  
  .Image{
      margin-top: 100px;
      display: flex;
  }
  .hi{
      margin-top: -125px;
      font-size: 30px;
  }
  .LoginFrom {
    font-size: 30xpx;
    color: rgb(255, 255, 255);
    transition: color 1s;
  }
  .LoginFrom:before, .LoginFrom:after {
    animation: none;
    opacity: 0;
  }
  
  
  .LoginFrom::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .LoginFrom::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
  }

  .main-header {
    font-family: sans-serif;
    color: rgb(0, 6, 63);
    margin-left: 15px;
    margin-bottom: 15px;
    font-style: italic;
  }
