@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');

:root {
  --card-height: 75vh;
  --card-width: calc(var(--card-height) / 2);
  --img-height: 80vh;
}

.header {
  display: flex;
}


.submit-button{
margin-top: 2em;  
font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  border-radius: 6px;
  background: #008cff;
  color: white;
  border-width: 0;
  top: auto;
  width: 120px;
  padding: 1%;
}

.unmain-header {
  margin-top: 3%;
  margin-bottom: 3%;
}

.no-results {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 160px;
}

.lost-refresh-button{  
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-radius: 6px;
    background: #008cff;
    color: white;
    border-width: 0;
    width: 300px;
    padding: 1.3%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

.tourist-image {
  text-align: center;
    justify-content: center;
    align-items: center;
}

.refresh-button{  
  font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-radius: 6px;
    background: #008cff;
    color: white;
    border-width: 0;
    width: 200px;
    padding: 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    position: absolute;
        top: 30px;
        right: 30px;
  }

button:hover {
background: #4e27ff;
color:#ffffff;
transform: scale(1.05);
}

html{
background-color: #eeecfd;
background-repeat: no-repeat, no-repeat;
background-size: cover;
background-position: right top;
}
select{
  font-family: 'Montserrat', sans-serif;
border-radius: 5px;
border-width: 1px;
height: 23px;
position: relative;
background-color: #ffffff;
color: rgb(0, 0, 0);
border-style: dashed;
margin-left: 10px;
font-size: 15px;
width: 130px;
}

.category{
  position: relative;
  display: block;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
  margin-top: .25em;
  margin-bottom: .25em;
  font-size: 20px;
}

select:hover {
  background: #4e27ff;
  color:#ffffff;
  }

.LoginFrom {
  border-radius: 20px;
  background: #ffffff;
  width: 30%;
  height: var(--card-height);
  padding: 30px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0);
  align-self: center;
  margin-left: 10%;
  margin-top: 4.5%;
  margin-bottom: 4.5%;
}

.LoginFrom {
  font-size: 30xpx;
  color: rgb(0, 0, 0);
  transition: color 1s;
}
.LoginFrom:before, .LoginFrom:after {
  animation: none;
  opacity: 0;
}


.LoginFrom::before {
  margin-top: 0;
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #00ccff, #1d52ff 43%, #6600ff);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.LoginFrom::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 60);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  /* transform: scale(1.2); */
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #00ccff, #1d52ff 43%, #6600ff);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}

.main-header {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  margin-left: 15px;
  margin-bottom: 25px;
  font-style: italic;
  animation-duration: 2s;
  animation-name: slidein;
  display: inline-flex;
}

.Bridge {
  border-radius: 15px;
  position: absolute;
  align-items: center;
  align-self: center;
  margin-left: 30%;
  margin-top: 2.4%;
  margin-right: 5%;
  height: var(--card-height);
  width: 60%;
}

.helpButton
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;

  font-size: 16pt;
  font-family: tahoma;
  color:#ffffff;

  margin-top: 2%;
  margin-right: 2%;
  background-color:  #6e9dc4;
  position:absolute;
  border: 0;
  top:0;
  right:0;
}

.helpButton:hover
{
  color:white;
  background-color: #4e27ff;
  transform: scale(1.10);
}