@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.signup-page {
  .actualcontainer {
    height: 100vh;
    width: 100vm;
    background-image: url("../../assets/imgs/misc/signup_bg.jpg");

    z-index: -1;
  }

  .ss_logo {
    position: absolute;
    margin-left: 20px !important;
    margin-top: 20px !important;
    left: 0;
    top: 0;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    text-underline-offset: 8px;
    /* width: 75px;
      height: 75px;
      background-image: url("../../assets/imgs/logo/ss_transparent.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; */
  }

  .ss_logo .lk {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  .ss_logo .lk:hover {
    opacity: 0.5;
    color: red;
  }

  .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  /* body{
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background: linear-gradient(123deg, #71b8e7,#9b59b6);
  } */
  .container {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;

    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 35px 30px;

    border-radius: 5px;
    box-shadow: 1px 10px 50px 18px #0004;
    padding-bottom: 10px !important;
  }

  .container .formtitle {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-bottom: 6px;
  }

  .container .formtitle::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(123deg, #dbf705, #ff0d00);
  }

  .container form .user_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container form .user_details .input_pox {
    margin-bottom: 15px;
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
  }

  #special {
    margin-bottom: 15px;
    margin: 20px 0 12px 0;
    width: calc(100% - 20px);
  }

  .user_details .input_pox .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .user_details .input_pox input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  .user_details .input_pox input:focus,
  .user_details .input_pox input:valid {
    border-color: #9b59b6;
  }

  .container form .gender_details .gender_title {
    font-size: 20px;
    font-weight: 500;
  }

  .container form .gender_details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
  }

  .container form input[type="radio"] {
    display: none;
  }

  .container form .button {
    height: 45px;
    margin: 45px 0;
  }

  .container form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(123deg, #dbf705, #ffaba7);
  }

  .container form .button input :hover {
    background: linear-gradient(-123deg, #dbf705, #de3c34);
  }

  @media (max-width: 584px) {
    .container {
      max-width: 100%;
    }

    form .user_details .input_pox {
      margin-bottom: 15px;
      width: 100%;
    }

    form .gender_details .category {
      width: 100%;
    }

    .container form .user_details {
      max-height: 300px;
      overflow: scroll;
    }

    .user_details::-webkit-scrollber {
      width: 0;
    }
  }
}
